.registration-form {
  display: flex;
 flex-direction:  column ;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  background-color: #222;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #f39c12;
}





.registration-form input,
.registration-form select,
.registration-form button {
 
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 14px;
  color: #333333;
  width: 95%;
  
}

.registration-form input::placeholder {
  color: #999999;
}

.registration-form select {
  appearance: none;
  padding-right: 30px;
  background-size: 18px;
  
}

.registration-form button {
  background-color: #f39c12;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  align-items: center;
  
}

.registration-form button:hover {
  color: rgb(214, 190, 190);
}

.registerMessage {
  color: #ce1323;
}

.login_link {
  color: red;
}
